body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    background-color: rgb(140, 211, 234);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sketchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1; /*fill body for footer*/
}

.functionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 10px;
}    

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    border: 1px solid var(black);
    border-radius: 2px;
    font-size: 16px;
    width: 150px;
}

.clicked {
    background-color: rgb(89, 165, 246);
}

#colorTool {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  #colorTool::-webkit-color-swatch {
    border-radius: 15px;
  }

  #colorTool::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
    min-height: 500px;
    border: 1px solid black;
}

#displayInputValue {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    font-size: 24px;
}

.pixel {
    background-color: white;
    width: calc(500px / var(--rows));
    height: calc(500px / var(--cols));
}

footer {
    text-align: center;
}
